.reporte {
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.infoReporte{
  text-align: center;
  font-size: 12px;
  width: 100%;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.5);
}

.container-fluid {
    display:inline-block;
}

.imagen1 {
    padding-left: 10%;
}

.imagen2 {
    padding-top:10%;
}

.tick {
    height: 20px !important;
    width: 20px !important;
}

th{
    text-align: center;
}

.centrarfila {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    font-weight: bold;
}

.bordeArribaNews h3{
    margin-left: 2%;
}

.bordeArribaNews{
    background-color:darkgrey;
    margin-top: 3%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40px;
    margin-bottom: 1%;
}

.login, .register{
    display: inline-block; 
}

.register{
    margin-left: 60%;
}

.icono{
    width: 40px;
    margin-right: 10px;
}

.nombre{
    margin-left: 20%;
}